* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4c51bf, #6366f1, #3b82f6);
    height: 100vh;
    color: #ffffff;
}

canvas {
    width: 80vw;
    height: 90vh;
    border: 5px solid #ffffff;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.healthContainer,
.playerHContainer {
    width: 100%;
    height: 30px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.2);
    overflow: hidden;
}

#playerHealth,
#enemyHealth {
    background-color: #10b981;
    height: 100%;
    transition: width 0.3s ease;
}

#timer {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #333333;
    border: 2px solid #ffffff;
}

#gameStatus {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    text-align: center;
    z-index: 10;
}
